<p>Co-fondateur de <strong>Defsquare</strong>, un studio logiciel orienté design qui conçoit, développe et opère des systèmes de haute qualité dans des environnements complexes. Je suis spécialisé dans l'architecture et le développement logiciel dans son ensemble.</p>
<p>En tant qu'architecte pragmatique et artisan du code, je valorise la <strong>simplicité</strong>, la <strong>qualité technique</strong> et une approche design-intensive pour créer des solutions qui font la différence.</p>
<script type="text/javascript">
    document.getElementById("year").textContent = new Date().getFullYear() - 2009;
</script>
