<p>Consultant ayant <span id="year"></span> ans d’expérience et spécialisé dans le développement logiciel au sens large du terme. j'ai fait le choix d'être généraliste car je conçois un  produit dans sa globalité.
    Et en tant qu'architecte pragmatique et artisan du code, j'accorde une importance fondamentale à la qualité technique, aux méthodologies employées et à la culture craft.</p>
<script type="text/javascript">
    document.getElementById("year").textContent = new Date().getFullYear() - 2009;
</script>
