<p>Passionné depuis <span id="year"></span> ans et constamment en quête de nouveaux challenges.
    Toujours ) la recherche de nouvelles pratiques et manière de voir le développement logiciel.
    Je fais le choix d'être spécialisé en rien (ou en tout) car j'aime conçevoir les produits dans leur globalité.
    Apprendre, partager et transmettre sont mes maîtres mots et fait partie de mon quotidien.
    La route de l'artisan développeur est longue ! <br>
    En espérant vous croiser sur ce chemin et, qui sait, en parcourir une partie ensemble !</p>

<script type="text/javascript">
    document.getElementById("year").textContent = new Date().getFullYear() - 2009;
</script>